body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	}

header{
	background-image: url(../img/img.jpg);
	height: 600px;
	background-size: cover;
	background-position: center;
	color: ;
	margin: 0;
	padding: 0;
	}

header .top h1{
	text-align: center;
	padding-top: 250px;
	color: #e6bd8c;
	font-size: 60px;
	font-weight: 200;
	}

.separador {
	height: 15px;
	background-color: #e6bd8c;
	}

.all {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 100px;
	}

h2 {
	color: #e6bd8c;
	font-size: 20px;
	font-weight: 400;
	}

.product{
	float: left;
	width: 60%;
	}

.pedidos{
	float: right;
	width: 200px;
	text-align: left;
	}

.com{
	padding-top: 30px;
	}

.pro {
	margin-bottom: 20px;
	}

button.produ{
	background-color: #e6bd8c;
	color: white;
	height: 50px;
	width: 100%;
	text-align: left;
	font-size: 18px;
	border: none;
	padding-left: 15px;
	}

button.produ:hover{
	background-color: #9d6e52;
	}

button.cmp{
	background-color: #5e5e5e;
	border: none;
	height: 40px;
	color: white;
	width: 150px;
	margin-top: 15px;
	}

button.cmp:hover{
	background-color: #bebcba;
	color: #5e5e5e;
	}

.pedi {
	font-size: 15px;
	color: #5e5e5e;
	}

.descr {
	display: none;
	}